<div class="resuable-icons">
    <button mat-icon-button class="button" *ngIf="!isTrashed">
        <img src="../../../assets/take-note-images/remind-me.svg" alt="remind me icon" width="20px" title="Remind me">
    </button>
    <button mat-icon-button class="button" *ngIf="!isTrashed">
        <img src="../../../assets/take-note-images/add-collaborator.svg" alt="add collaborator icon" width="20px"
            title="Collaborator">
    </button>
    <button mat-icon-button class="button" *ngIf="!isTrashed" [matMenuTriggerFor]="colorMenu">
        <img src="../../../assets/take-note-images/color.svg" alt="color icon" width="20px" title="Background options">
        <mat-menu #colorMenu>
            <div class="backgroundcolor">
                <div *ngFor="let color of colorArray" class="bg-color">
                    <button class="colorBoxSetting" [style.background]="color.code" (click)="changeColor(color)"></button>
                </div>
            </div>
        </mat-menu>
    </button>
    <button mat-icon-button class="button" *ngIf="!isTrashed">
        <img src="../../../assets/take-note-images/new-note-with-image.svg" alt="image icon" width="20px"
            title="Add image">
    </button>
    <button mat-icon-button class="button" *ngIf="!isArchived && !isTrashed" (click)="archive()">
        <img src="../../../assets/DashboardImages/archive.svg" alt="Archive icon" width="20px" title="Archive">
    </button>
    <button mat-icon-button class="button" *ngIf="isArchived" (click)="unarchive()">
        <img src="../../../assets/take-note-images/unarchive.svg" alt="Unarchive icon" width="20px" title="Unarchive">
    </button>
    <button mat-icon-button class="button" [matMenuTriggerFor]="menu" *ngIf="!isTrashed">
        <img src="../../../assets/take-note-images/more-options.svg" alt="options icon" width="20px" title="More">
        <mat-menu #menu>
            <button mat-menu-item (click)="trash()">Delete Note</button>
            <button mat-menu-item>Add label</button>
            <button mat-menu-item>Add drawing </button>
            <button mat-menu-item>Make a copy</button>
            <button mat-menu-item>Show checkboxes</button>
            <button mat-menu-item>Copy to Google Docs</button>
        </mat-menu>
    </button>
    <button mat-icon-button class="button" *ngIf="isTrashed" (click)="delete()">
        <img src="../../../assets/take-note-images/delete-forever.svg" alt="delete forever icon" width="20px"
            title="Delete forever">
    </button>
    <button mat-icon-button class="button" *ngIf="isTrashed" (click)="restore()">
        <img src="../../../assets/take-note-images/restore.svg" alt="restore icon" width="20px" title="Restore">
    </button>
</div>