<div class="container">
    <div class="notescontainer" *ngFor="let notes of notesList | filter : filterNote">
        <mat-card class="card" [style.background]="notes.backgroundColour">
            <mat-card-title class="notetitle">
                <div class="input-title" (click)="editNote(notes)">{{notes.title}}</div>
                <button mat-icon-button class="pinbutton">
                    <img src="../../../assets/take-note-images/pin.svg" alt="pin icon" width="25px" title="Pin">
                </button>
            </mat-card-title>
            <mat-card-content class="notedesc">
                <div class="input-desc" (click)="editNote(notes)">{{notes.description}}</div>
            </mat-card-content>
            <div class="icons">
                <app-icons [noteData]="notes" [isTrash]="isTrashed" (updateEvent)="displayMessage($event)"></app-icons>
            </div>
        </mat-card>
    </div>
</div>