.maincontainer{
    //border: solid red;
    display: flex;
    justify-content: center;
    height: 150px;
    margin-top: 100px;
}

// .container1{
//     border: solid blue;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 32%;
//     height: 20%;
// }

.card1{
    //border: solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 9%;
    border-radius: 7px;
}

.form1{
    //border: solid red;
    width: 100%;
}

.inputcontainer1{
    //border: solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input1{
    display: flex;
    height: 30px;
    width: 450px;
    border: none;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

// .container2{
//     //border: solid blue;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 32%;
//     height: 150px;
// }

.card2{
    //border: solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 32%;
    height: 76%;
    border-radius: 7px;
}

.form2{
    //border: solid black;
    width: 100%;
}

.inputcontainer2{
    //border: solid black;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.input2{
    display: flex;
    height: 30px;
    width: 550px;
    border: none;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.inputcontainer3{
    //border: solid black;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.input3{
    display: flex;
    height: 36px;
    width: 600px;
    border: none;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.icons{
    //border: solid blue;
    margin-top: 10px;
    width: 510px;
    display: flex;
    flex-direction: row;
    //gap: 140px;
}

.icon{
    width: 25px;
}

.closebutton{
    margin-left: 100px;
}
