<div class="example-container">
    <mat-toolbar class="example-toolbar">
        <div class="left">
            <button mat-icon-button (click)="snav.toggle()" class="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <img class="project-name" src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png">
            <h1 class="example-app-name">
                <span class="F" >F</span>
                <span class="U" >U</span>
                <span class="N" >N</span>
                <span class="D" >D</span>
                <span class="O" >O</span>
                <span class="O" >O</span>
            </h1>
        </div>
        <div class="middle">
            <div>
                <form class="search-submit">
                    <button type="submit" class="search-button">Search</button>
                    <input class="search" type="text" placeholder="Search..." (keyup)="search($event)">
                </form>
            </div>
            <div class="btn-3">
                <button mat-icon-button class="button">
                    <img src="../../../assets/DashboardImages/refresh.svg" alt="refresh icon" width="25px"
                        title="Refresh">
                </button>
                <button mat-icon-button class="button" (click)="changeLayoutView()">
                    <img src="../../../assets/DashboardImages/listview.svg" alt="list icon" width="25px"
                        title="List View">
                </button>
                <button mat-icon-button class="button">
                    <img src="../../../assets/DashboardImages/settings.svg" alt="settings icon" width="25px"
                        title="Settings">
                </button>
            </div>
        </div>
        <div class="account">
            <button mat-icon-button class="apps">
                <img src="../../../assets/DashboardImages/app.svg" alt="app icon" width="25px" title="Apps">
            </button>
            <button mat-icon-button class="account-image">
                <img src="../../../assets/DashboardImages/account.svg" alt="account icon" width="35px" title="Account">
            </button>
        </div>
    </mat-toolbar>

    <div class="example-sidenav-container" fxLayout="row" fxLayoutGap="15px">
        <div class="note1 " fxLayout="column" fxLayoutGap="10px">
            <button mat-icon-button class="toolbarbuttons" (click)="snav.toggle()" routerLink="/home/create">
                <img src="../../../assets/DashboardImages/notes.svg" title="Notes" width="30px">
            </button>
            <br>
            <button mat-icon-button class="toolbarbuttons" (click)="snav.toggle()">
                <img src="../../../assets/DashboardImages/reminders.svg" title="Reminders" width="30px">
            </button>
            <br>
            <button mat-icon-button class="toolbarbuttons" (click)="snav.toggle()">
                <img src="../../../assets/DashboardImages/edit.svg" title="Edit Labels" width="30px">
            </button>
            <br>
            <button mat-icon-button class="toolbarbuttons" (click)="snav.toggle()" routerLink="/home/archive">
                <img src="../../../assets/DashboardImages/archive.svg" title="Archive" width="30px">
            </button>
            <br>
            <button mat-icon-button class="toolbarbuttons" (click)="snav.toggle()" routerLink="/home/trash">
                <img src="../../../assets/DashboardImages/delete.svg" title="Bin" width="30px">
            </button>
        </div>

        <mat-sidenav-container class="example-sidenav-container">
            <mat-sidenav #snav class="labels" mode="side">
                <mat-nav-list>
                    <mat-list role="list" class="hide">
                        <div class="menu_text">
                            <mat-list-item role="listitem">Notes</mat-list-item>
                        </div>
                        <div class="menu_text">
                            <mat-list-item role="listitem">Reminders</mat-list-item>
                        </div>
                        <div class="menu_text">
                            <mat-list-item role="listitem">Edit Labels</mat-list-item>
                        </div>
                        <div class="menu_text">
                            <mat-list-item role="listitem">Archive</mat-list-item>
                        </div>
                        <div class="menu_text">
                            <mat-list-item role="listitem">Bin</mat-list-item>
                        </div>
                    </mat-list>
                </mat-nav-list>
            </mat-sidenav>

            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>

    </div>