<div class="main-div">
    <mat-card class="card">
        <div class="container">
            <div class="title">
                <!-- <div>
                    <mat-card-content fxLayoutAlign="right"
                        style="font-size: 25px; color: dodgerblue; font-weight: bolder;">Fundoo</mat-card-content>
                </div> -->
                <div class="fundoo">
                    <div class="F">F</div>
                    <div class="U">U</div>
                    <div class="N">N</div>
                    <div class="D">D</div>
                    <div class="O">O</div>
                    <div class="O">O</div>
                </div>
                <div>
                    <mat-card-content class="sub-title">Create your Fundoo Account</mat-card-content>
                </div>
            </div>
            <form class="form" [formGroup]="registerForm" (ngSubmit)="registerUser()"
                class="login-form">
                <div class="inputfields">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter First Name" formControlName="firstName" class="formControl">
                        <mat-error *ngIf="f['firstName'].getError('required')!=null">First Name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter Last Name" formControlName="lastName" class="formControl">
                        <mat-error *ngIf="f['lastName'].getError('required')!=null">Last Name is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="inputfield-email">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter Email" formControlName="email" class="formControl">
                        <mat-error>Enter a valid Email</mat-error>
                        <mat-error>Email is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="inputfields">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="password ? 'text' : 'password' " placeholder="Enter Password" class="formControl"
                            formControlName="password">
                        <mat-error *ngIf="f['password'].getError('required')!=null">Password is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="password ? 'text' : 'password' " placeholder="Renter Password" class="formControl"
                            formControlName="ConfirmPassword">
                        <!-- <mat-error *ngIf="registerForm.value.ConfirmPassword">Password does not match</mat-error> -->
                        <mat-error *ngIf="f['ConfirmPassword'].getError('required')!=null">Re-enter password</mat-error>
                        <mat-error *ngIf="f['ConfirmPassword'].getError('Mustmatch')!=null">Password does not
                            match</mat-error>
                    </mat-form-field>
                </div>
                <div class="checkbox">
                    <mat-checkbox class="showpassword" color="primary" (click)="toggleShow()"> {{ password ? '' : ''}} Show Password</mat-checkbox>
                </div>
                <div class="row">
                    <button mat-button class="loginbtn" routerLink="/login">Log in
                        instead</button>
                    <button mat-flat-button type="submit" color="primary" class="registerbtn">Register</button>
                </div>
            </form>
        </div>
        <div class="image">
            <img src="assets/registerpage.svg">
            <div class="imgtext">One account for all the Fundoo Notes</div>
        </div>
    </mat-card>
</div>