<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="40" class="card">
        <div class="container">
            <div style="padding-left: 30px;" class="title">
                <!-- <div>
                    <mat-card-content fxLayoutAlign="right"
                        style="font-size: 25px; color: dodgerblue; font-weight: bolder;">Fundoo</mat-card-content>
                </div> -->
                <div class="fundoo">
                    <div class="F">F</div>
                    <div class="U">U</div>
                    <div class="N">N</div>
                    <div class="D">D</div>
                    <div class="O">O</div>
                    <div class="O">O</div>
                </div>
                <div>
                    <mat-card-content fxLayoutAlign="right" style="font-size: 22px; color: black;">Create your Fundoo
                        Account</mat-card-content>
                </div>
            </div>
            <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="registerForm" (ngSubmit)="registerUser()"
                class="login-form">
                <div style="display: flex; gap: 10px;">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter First Name" formControlName="firstName" class="formControl">
                        <mat-error *ngIf="registerForm.value.firstName">Enter a valid first name</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter Last Name" formControlName="lastName" class="formControl">
                        <mat-error *ngIf="registerForm.value.lastName">Enter a valid last name</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" style="width: 410px;">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter Email" formControlName="email" class="formControl">
                        <mat-error *ngIf="registerForm.value.email">Enter a valid Email</mat-error>
                    </mat-form-field>
                </div>
                <div style="display: flex; gap: 10px;">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Enter Password" class="formControl"
                            formControlName="password">
                        <mat-error *ngIf="registerForm.value.password">Password is incorrect</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Renter Password" class="formControl"
                            formControlName="ConfirmPassword">
                        <mat-error *ngIf="registerForm.value.ConfirmPassword">Password does not match</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <button mat-button style="margin-left: 0px; color:dodgerblue">Log in instead</button>
                    <button mat-flat-button type="submit" color="primary" style="margin-left: 210px;">Register</button>
                </div>
            </form>
        </div>
        <div class="image">
            <img src="assets/registerpage.svg" width="250px">
            <div class="imgtext">One account for all the Fundoo Notes</div>
        </div>
    </mat-card>
</div>